In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

**DATA  TRAIN**

In [3]:
file = "../Dataset/DCredit.xlsx"
credit_train = pd.read_excel(file, sheet_name="Train")
credit_train.head()

,id,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,288,1 - 200 DM,48,poor,car0,7582,100 - 500 DM,unemployed,2,4,31,none,other,1,management,1,yes,no
1,788,unknown,48,critical,car,2751,unknown,> 7 years,4,3,38,none,own,2,skilled,2,yes,no
2,409,unknown,24,good,furniture/appliances,3235,500 - 1000 DM,> 7 years,3,2,26,none,own,1,management,1,yes,no
3,881,unknown,24,good,car,7814,< 100 DM,4 - 7 years,3,3,38,none,own,1,management,1,yes,no
4,937,> 200 DM,9,good,furniture/appliances,745,< 100 DM,1 - 4 years,3,2,28,none,own,1,unskilled,1,no,yes

In [0]:
#X_train.rename(columns={'checking_balance':'checking_balance '}, inplace=True)
#X_train.columns = X_train.columns.str.replace('checking_balance', 'checking_balance ')

In [165]:
credit_train.shape

(800, 18)

In [166]:
credit_train.describe()

,id,months_loan_duration,amount,percent_of_income,years_at_residence,age,existing_loans_count,dependents
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000
mean,492.016250,21.116250,3264.193750,2.968750,2.823750,35.672500,1.408750,1.153750
std,292.654595,12.388486,2845.376591,1.124435,1.101909,11.451929,0.578439,0.360935
min,1.000000,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,235.750000,12.000000,1363.250000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,483.500000,18.000000,2278.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,748.250000,24.000000,3973.750000,4.000000,4.000000,42.000000,2.000000,1.000000
max,1000.000000,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [167]:
X_train = credit_train.iloc[:,1:17] #separamos a los Xi del Y
X_train.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone
0,1 - 200 DM,48,poor,car0,7582,100 - 500 DM,unemployed,2,4,31,none,other,1,management,1,yes
1,unknown,48,critical,car,2751,unknown,> 7 years,4,3,38,none,own,2,skilled,2,yes
2,unknown,24,good,furniture/appliances,3235,500 - 1000 DM,> 7 years,3,2,26,none,own,1,management,1,yes
3,unknown,24,good,car,7814,< 100 DM,4 - 7 years,3,3,38,none,own,1,management,1,yes
4,> 200 DM,9,good,furniture/appliances,745,< 100 DM,1 - 4 years,3,2,28,none,own,1,unskilled,1,no

In [0]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [0]:
lb_make = LabelEncoder()
X_train["checking_balance"] = lb_make.fit_transform(X_train["checking_balance"])
X_train["credit_history"] = lb_make.fit_transform(X_train["credit_history"])
X_train["purpose"] = lb_make.fit_transform(X_train["purpose"])
X_train["savings_balance"] = lb_make.fit_transform(X_train["savings_balance"])
X_train["employment_duration"] = lb_make.fit_transform(X_train["employment_duration"])
X_train["other_credit"] = lb_make.fit_transform(X_train["other_credit"])
X_train["housing"] = lb_make.fit_transform(X_train["housing"])
X_train["job"] = lb_make.fit_transform(X_train["job"])
X_train["phone"] = lb_make.fit_transform(X_train["phone"])

In [170]:
X_train.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone
0,0,48,3,2,7582,0,4,2,4,31,1,0,1,0,1,1
1,3,48,0,1,2751,4,3,4,3,38,1,1,2,1,2,1
2,3,24,1,4,3235,1,3,3,2,26,1,1,1,0,1,1
3,3,24,1,1,7814,2,1,3,3,38,1,1,1,0,1,1
4,2,9,1,4,745,2,0,3,2,28,1,1,1,3,1,0

In [171]:
y_train = credit_train.default
y_train.head()

0     no
1     no
2     no
3     no
4    yes
Name: default, dtype: object

In [172]:
l=LabelEncoder()
l.fit(y_train)
l.classes_
y_train = Series(l.transform(y_train))
y_train.value_counts()

0    562
1    238
dtype: int64

In [173]:
y_train.head()

0    0
1    0
2    0
3    0
4    1
dtype: int64

**DATA TEST**

In [174]:
#file = "../Dataset/DCredit.xlsx"
credit_test = pd.read_excel(file, sheet_name="Test")
credit_test.head()

,id,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,3,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
1,10,1 - 200 DM,30,critical,car,5234,< 100 DM,unemployed,4,2,28,none,own,2,management,1,no,yes
2,11,1 - 200 DM,12,good,car,1295,< 100 DM,< 1 year,3,1,25,none,rent,1,skilled,1,no,yes
3,14,< 0 DM,24,critical,car,1199,< 100 DM,> 7 years,4,4,60,none,own,2,unskilled,1,no,yes
4,27,unknown,6,perfect,furniture/appliances,426,< 100 DM,> 7 years,4,4,39,none,own,1,unskilled,1,no,no

In [175]:
credit_test.shape

(200, 18)

In [176]:
X_test = credit_test.iloc[:,1:-1] # quitamos el ID y el Y, primero y último iloc https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/
X_test.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone
0,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no
1,1 - 200 DM,30,critical,car,5234,< 100 DM,unemployed,4,2,28,none,own,2,management,1,no
2,1 - 200 DM,12,good,car,1295,< 100 DM,< 1 year,3,1,25,none,rent,1,skilled,1,no
3,< 0 DM,24,critical,car,1199,< 100 DM,> 7 years,4,4,60,none,own,2,unskilled,1,no
4,unknown,6,perfect,furniture/appliances,426,< 100 DM,> 7 years,4,4,39,none,own,1,unskilled,1,no

In [0]:
lb_make = LabelEncoder()
X_test["checking_balance"] = lb_make.fit_transform(X_test["checking_balance"])
X_test["credit_history"] = lb_make.fit_transform(X_test["credit_history"])
X_test["purpose"] = lb_make.fit_transform(X_test["purpose"])
X_test["savings_balance"] = lb_make.fit_transform(X_test["savings_balance"])
X_test["employment_duration"] = lb_make.fit_transform(X_test["employment_duration"])
X_test["other_credit"] = lb_make.fit_transform(X_test["other_credit"])
X_test["housing"] = lb_make.fit_transform(X_test["housing"])
X_test["job"] = lb_make.fit_transform(X_test["job"])
X_test["phone"] = lb_make.fit_transform(X_test["phone"])

In [178]:
X_test.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone
0,3,12,0,3,2096,2,1,2,3,49,1,1,1,3,2,0
1,0,30,0,1,5234,2,4,4,2,28,1,1,2,0,1,0
2,0,12,1,1,1295,2,2,3,1,25,1,2,1,1,1,0
3,1,24,0,1,1199,2,3,4,4,60,1,1,2,3,1,0
4,3,6,2,4,426,2,3,4,4,39,1,1,1,3,1,0

In [179]:
y_test = credit_test.default
y_test.head()

0     no
1    yes
2    yes
3    yes
4     no
Name: default, dtype: object

In [180]:
l=LabelEncoder()
l.fit(y_test)
l.classes_
y_test = Series(l.transform(y_test))
y_test.value_counts()

0    138
1     62
dtype: int64

In [181]:
y_test.head()

0    0
1    1
2    1
3    1
4    0
dtype: int64

## XGBOOST

In [0]:
import xgboost as xgb

**MODELING**

In [0]:
#DATA_MATRIZ
dtrain = xgb.DMatrix(X_train,label = y_train)
dtest = xgb.DMatrix(X_test)

In [0]:
#setting paramters for xgboost
parameters = {'max_depth':7, 'eta':1,'silent':1, 'objective':'binary:logistic', 'eval_metric':'auc', 'learning_rate':.05 }

In [0]:
#trainning our model
num_round = 50
from datetime import datetime
start = datetime.now()
xg = xgb.train(parameters,dtrain,num_round)
stop = datetime.now()

In [0]:
#execution time 
time_xgb = stop - start

**EVALUATION**

In [187]:
ypred = xg.predict(dtest)
ypred

array([0.0576172 , 0.59876496, 0.5590242 , 0.28049597, 0.15140143,
       0.29283163, 0.64435107, 0.23896916, 0.10369685, 0.09551914,
       0.23230721, 0.59086305, 0.14297985, 0.84945136, 0.300954  ,
       0.13111413, 0.30531082, 0.06627312, 0.38860214, 0.08819923,
       0.18013299, 0.25114733, 0.35819864, 0.78397965, 0.6482732 ,
       0.10785346, 0.30324018, 0.6800812 , 0.09896525, 0.5647177 ,
       0.704555  , 0.6805532 , 0.16142206, 0.1728039 , 0.5035974 ,
       0.1258898 , 0.27195242, 0.4647386 , 0.1000329 , 0.13310708,
       0.29699275, 0.1684398 , 0.21482386, 0.626669  , 0.13442923,
       0.62567824, 0.09651878, 0.668711  , 0.09940501, 0.48921102,
       0.63088727, 0.24161544, 0.1369963 , 0.58391154, 0.26627666,
       0.10178561, 0.11944924, 0.17856108, 0.26019073, 0.08291978,
       0.09209032, 0.1408142 , 0.08839826, 0.15441802, 0.11874873,
       0.33215466, 0.082642  , 0.5156243 , 0.5158691 , 0.24940099,
       0.58310777, 0.05538278, 0.35208476, 0.6333825 , 0.13787158,
       0.09293397, 0.3607945 , 0.45558497, 0.458821  , 0.19285779,
       0.1957259 , 0.38463402, 0.380708  , 0.05530536, 0.06606787,
       0.2156891 , 0.21511969, 0.5176055 , 0.25432545, 0.52537644,
       0.72435105, 0.1911433 , 0.11802845, 0.35445312, 0.07271376,
       0.09027945, 0.34131086, 0.50999695, 0.19393219, 0.36405486,
       0.2897232 , 0.13336106, 0.22643699, 0.48153093, 0.571327  ,
       0.3416696 , 0.0742462 , 0.26625878, 0.38854527, 0.12538832,
       0.51793224, 0.43399626, 0.72337633, 0.51623446, 0.314435  ,
       0.38859737, 0.37653312, 0.27949843, 0.5362317 , 0.5808978 ,
       0.10475704, 0.41829574, 0.3009315 , 0.06201113, 0.06179486,
       0.36703223, 0.4885592 , 0.17070417, 0.12925184, 0.60858804,
       0.14575635, 0.07598062, 0.18055142, 0.52236545, 0.23523389,
       0.2612148 , 0.6207637 , 0.4142288 , 0.15987201, 0.30874327,
       0.3593209 , 0.15277609, 0.7136553 , 0.12480035, 0.607038  ,
       0.07793207, 0.72337633, 0.4636623 , 0.12116285, 0.08639661,
       0.17054528, 0.13153936, 0.25237882, 0.2797594 , 0.07893895,
       0.09293775, 0.5391805 , 0.33555043, 0.07096539, 0.40893346,
       0.3478696 , 0.5358507 , 0.06077578, 0.13304481, 0.2859067 ,
       0.10548159, 0.6294286 , 0.4123269 , 0.25379774, 0.28468996,
       0.11292029, 0.15679246, 0.37489578, 0.6028942 , 0.09460969,
       0.15486294, 0.11900923, 0.24607779, 0.46108815, 0.05515992,
       0.12301677, 0.5758196 , 0.23397656, 0.18180932, 0.5240856 ,
       0.2275681 , 0.49004203, 0.36521256, 0.4004109 , 0.07622981,
       0.14102861, 0.36524194, 0.51811355, 0.38799998, 0.35383716,
       0.15444136, 0.5884316 , 0.23960595, 0.08140925, 0.6846325 ],
      dtype=float32)

In [188]:
ypred.shape

(200,)

In [0]:
#CONVERTING PROBABILITIES IN 1 OR 0
for i in range(0,200):
  if ypred[i]>= .5:
    ypred[i]=1
  else:
      ypred[i]=0

In [0]:
#CALCULATING ACCURACY OF OUR MODEL
from sklearn.metrics import accuracy_score

In [191]:
accuracy_xgb = accuracy_score(y_test,ypred)
accuracy_xgb

0.75

## LIGHT GBM

In [0]:
import lightgbm as lgb

**MODELING**

In [0]:
train_data = lgb.Dataset(X_train,y_train)

In [0]:
#setting parameters for lightgmb
param = {'num_leaves':150, 'objective':'binary','max_depth':7,'learning_rate':.05,'max_bin':200}
param['metric'] = ['auc','binary_logloss']

In [0]:
num_round = 50
start = datetime.now()
lgbm = lgb.train(param,train_data,num_round)
stop = datetime.now()

In [0]:
time_lgbm = stop-start

In [197]:
ypred2 = lgbm.predict(X_test)
ypred2

array([0.03543562, 0.5900368 , 0.4483666 , 0.22778544, 0.1271102 ,
       0.31545179, 0.55715954, 0.20648013, 0.20717641, 0.16329221,
       0.1668392 , 0.55532356, 0.18249943, 0.81571899, 0.37458227,
       0.11588068, 0.2678978 , 0.06859158, 0.39998839, 0.11897259,
       0.20245981, 0.1975686 , 0.21490343, 0.6749546 , 0.49655816,
       0.1116232 , 0.34980368, 0.64725025, 0.16098036, 0.6009911 ,
       0.62307557, 0.72424933, 0.10373476, 0.29169815, 0.48701769,
       0.17831584, 0.0449393 , 0.3713078 , 0.04842527, 0.07193517,
       0.36544857, 0.22726076, 0.2038062 , 0.6818611 , 0.11748428,
       0.44472707, 0.06837162, 0.5667402 , 0.20009363, 0.59180999,
       0.59170607, 0.26512178, 0.07899413, 0.62624458, 0.22672643,
       0.05812856, 0.14928694, 0.14399873, 0.38051555, 0.05382413,
       0.10594156, 0.07193517, 0.11077414, 0.13069854, 0.10957288,
       0.23220298, 0.08453026, 0.5255192 , 0.38121549, 0.17739296,
       0.68407861, 0.05426039, 0.21263941, 0.55815411, 0.11800126,
       0.08654845, 0.29898738, 0.33898426, 0.47751386, 0.15203205,
       0.06637722, 0.46953539, 0.28018572, 0.04260133, 0.04213556,
       0.17356406, 0.25159346, 0.25127399, 0.13085501, 0.21436563,
       0.74879474, 0.12075332, 0.08733226, 0.34599439, 0.03405401,
       0.06150148, 0.4542262 , 0.51345754, 0.22812686, 0.38975782,
       0.26399776, 0.12677748, 0.28456216, 0.6433738 , 0.67759376,
       0.36414157, 0.04297517, 0.26052008, 0.21354967, 0.16488012,
       0.50563929, 0.25349492, 0.6664107 , 0.54499178, 0.3558743 ,
       0.37141296, 0.28200909, 0.29227611, 0.30900368, 0.5547609 ,
       0.05479878, 0.37981837, 0.17980889, 0.04504572, 0.07879952,
       0.40022095, 0.34753747, 0.07080996, 0.11460197, 0.52833339,
       0.13904182, 0.04883394, 0.1743868 , 0.41298402, 0.13738359,
       0.22219789, 0.74412474, 0.39425194, 0.15414901, 0.29998919,
       0.3496681 , 0.11226208, 0.77926962, 0.26007638, 0.64473482,
       0.08598048, 0.65733803, 0.42037969, 0.06937434, 0.04569417,
       0.13561908, 0.11409832, 0.34865904, 0.39078012, 0.07335365,
       0.05640729, 0.27388059, 0.26981774, 0.02566686, 0.46662679,
       0.22459922, 0.75439304, 0.03621278, 0.2260304 , 0.3153506 ,
       0.06901337, 0.40605626, 0.3400418 , 0.14619217, 0.30628258,
       0.13400878, 0.12887471, 0.42828186, 0.66246433, 0.11828944,
       0.17114387, 0.09247932, 0.2724697 , 0.34975108, 0.03787606,
       0.0605453 , 0.52680323, 0.14717765, 0.07080839, 0.52558632,
       0.18180232, 0.59617841, 0.15472093, 0.29782766, 0.04830438,
       0.05489467, 0.29865396, 0.68813914, 0.21247389, 0.20065241,
       0.14187736, 0.67829585, 0.24513511, 0.04276629, 0.68881551])

In [0]:
#CONVERTING PROBABILITIES IN 1 OR 0
for i in range(0,200):
  if ypred2[i]>= .5:
    ypred2[i]=1
  else:
      ypred2[i]=0

In [199]:
accuracy_lgbm = accuracy_score(y_test,ypred2)
accuracy_lgbm

0.77

In [0]:
#CALCULATING AUC 
from sklearn.metrics import roc_auc_score

In [201]:
#xgboost
auc_xgb = roc_auc_score(y_test,ypred)
auc_xgb

0.6722767648433848

In [202]:
#light gbm
auc_lgm = roc_auc_score(y_test,ypred2)
auc_lgm

0.6778868630201029

## COMPARISON XGBOOST VS LIGHT GBM

In [0]:
comparison = {'accuracy score': (accuracy_xgb,accuracy_lgbm),'auc score': (auc_xgb,auc_lgm),'execution time':(time_xgb,time_lgbm)}

In [205]:
comparison_df = DataFrame(comparison)
comparison_df.index = ['XGBoost','LightBoost']
comparison_df

            accuracy score  auc score  execution time
XGBoost               0.75   0.672277 00:00:00.054750
LightBoost            0.77   0.677887 00:00:00.095064